<h2>Edit your celebrity</h2>
<p>
    <form action="/celebrities/{{_id}}/edit" method="post">
        Celebrity Name: <input type="text" name="name" value="{{name}}"><br>
        <br> Occupation: <input type="text" name="occupation" value="{{occupation}}"><br>
        <br> Catch-phrase: <input type="text" name="catchPhrase" value="{{catchPhrase}}"> <br><br>
        <button>Submit</button>
    </form>
    </p