<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <a href="/">Home</a>
    <a href="/celebrities">Celebrities</a>
    <a href="/movies">Movies</a>
    <a href="/search">Search</a>

  </nav>
  {{{body}}}

  <script src='/javascripts/script.js'></script>
</body>

</html>