<h2>New Celebrity</h2>
<p>
    <form action="/celebrities/new" method="post">
        Celebrity Name: <input type="text" name="name"><br>
        <br> Occupation: <input type="text" name="occupation"><br>
        <br> Catch-phrase: <input type="text" name="catchPhrase"><br><br>
        <button>Submit</button>
    </form>
</p>