<h2>New Movie</h2>
<p>
    <form action="/movies/newMovie" method="post">
        Title: <input type="text" name="title"><br>
        <br> Genre: <input type="text" name="genre"><br>
        <br> Plot: <input type="text" name="plot"><br><br>
        <button>Submit</button>
    </form>
</p>